includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: false
    ignoreErrors:
        - '#Class .* extends unknown class Filament#'
        - '#Call to an undefined static method .*::route\(\)#'
        - '#Access to an undefined property .*::\$form#'
        - '#Access to an undefined property .*::\$record#'
        - '#Access to an undefined property FieldTechVN\\\\.*::\$.*#'
        - '#Call to an undefined method .*::chats\(\)#'
        - '#Offset .* on array.*always exists and is not nullable#'
